<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" th:href= "@{/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/app.css}"/>
<title>home</title>
</head>
<body>

<ul class="nav nav-pills">

        
          
          <li class="active"><a href="#">SHOP</a></li>
          <li><a th:href="@{/add}">Add categories</a></li>
          <li><a href="#">Delete Categories</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
    

    
<div class="container">
<div class="row">
<div th:each= "category: ${categories}">

 <div class="col-xs-4">
<a th:href="@{'/category/' + ${category.id}}">

<img th:src="@{'/img/'+${category.name}+'.jpg'}" alt="logo"/>
</a>
</div>
</div>

</div>
</div>


</body>
</html>